*{
  margin:0 ;
  padding: 0;
  box-sizing: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    background-color:#FFE4E1;
}

nav .logo{
     display: flex;
    font-size: 2rem;
    align-items: center;
}
.fun{
  align-items: center;
 
  
   width:  800px;
   height:  500px;
}
nav .nav-link{
  text-decoration: none;
}
.spezialitäten-section{
  color: rgb(173, 108, 230);
  margin-left:30%;
  padding-top: 5rem;
}

.spezialität{

  margin-left:40%;
   width:   100px;
   height:  100px;
}

/* .spezialitäten-section .spezialitäten{ 
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
}
*/


.spezialität h3{
color: rgb(0, 0, 0);
  
}
