*{
  margin:0 ;
  padding: 0;
  box-sizing: 0;
 

  
 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    background-color:#FFE4E1;
}

nav .logo{
     display: flex;
    font-size: 2rem;
    align-items: center;
}
.fun{
  align-items: center;
  
   margin-left:20%;
   margin-right:20%;
   width:  100%;
   height:  500px;
}
nav .nav-link{
  text-decoration: none;
}
.spezialitäten-section{
  color: rgb(173, 108, 230);
  margin:0 ;
  padding-top: 5rem;
  
}

.spezialität{

  margin-left:40%;
   width:   100px;
   height:  100px;
}

.spezialitäten-section .spezialitäten{ 
 width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}




.spezialität h3{
color: rgb(0, 0, 0);


  
}

.spezialität3 {

  width: 727px;
  height:484px;
}


.spezialitäten .spezialitätenBox{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
}

.spezialitäten{
margin: 0;

}